
body {
    background-color: rgb(228, 188, 212);
    margin: 0;
    border: 0;
    padding: 0;}

/* _____________ */

.container-fluid {background-color: rgb(244, 217, 236);}

/* imagen + titulo principal */
.nombre-foto {
    width: 100%;

}

.foto1{
    width: 100%; 
    height: 400px; 
}
#titPrinDiv{
    display: flex;
    justify-content: center;
}
.titulo-principal{
    position: absolute;
    color: black; 
    padding: 10px;
}
/* imagen + titulo principal */
.info{
    background-color:rgb(181, 197, 215);
    position: relative;
    width: 70%; 
    float: left; 
    padding: 20px;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}
.beneficios {
    background-color: rgb(228, 188, 212);
    position: relative;
    float: right;
    width: 30%; 
    padding: 20px;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}
/* _____________ */

#h1receta{
    text-align: center;
    margin: 35px 0 20px 0 !important;
}
.container1{
padding-left: 10%;
padding-right: 10%;
padding-top: 3%;
    

}

#turnos{ 
    text-align: center;
    margin-top: 50vh; /* Ajusta la mitad de la altura del viewport */
    margin-bottom: 50vh; /* Ajusta la mitad de la altura del viewport */
}

@media only screen and (max-width:600px){

    body{
        margin: 0;
        background-color:rgb(181, 197, 215);}
    #divdata{
    display: flex;
    flex-direction: column;
}
#divdata{
    display: flex;
    flex-direction: column;
}
.info{
    width: 100%;
}
.beneficios{
    width:100%;
}
}

